:root {
	--hred: #e1484c;
  }

.App {
  position: relative;
	min-height: 100vh;
}

.App-logo {
  height: 10px;
  position: relative;
  top: 10px;
  left: 10px;
}


.App-header {
  display: flex;
	flex-direction: row;
	justify-content: left;
	border-bottom: 3px solid var(--hred);
  color:#e1484c;
  position: middle;
  padding: 17px 0;
  height: 30vh;
}

.App-body {
  font-weight: bold;
	margin: 47px 0 0 31px;
  height: 70vh;
  text-align: left;
}

.App-footer {
  text-align: center;
	border-top: 3px solid var(--hred);
	padding: 17px 0;
  font-style: italic;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}